{% extends "baseTemplate.html" %}
{% block content %}
<br>
<center>
<h1>Enter Your class details</h1><br>
<p>use this to find people who are in the same class as you :)</p>
  <br><br>
<label for="fname">Name</label>
<input type="text" id="fname" name="fname" size="49.9999">

<label for="stdnum">Student Number</label>
<input type="text" id="stdnum" name="stdnum" size="39" placeholder="e.g. n1234567"><br><br>


<label for="classaddrs">Classroom Address</label>
<input type="text" id="classaddrs" name="class" size="36" placeholder="e.g. S507">

<label for="subject">Subject Code</label>
<input type="text" id="subject" name="subject" size="42" placeholder="e.g. IFB102"><br><br>

<label for="classtime">Classroom time</label>
<input type="text" id="classtime" name="classtime" size="40" placeholder="e.g. 10:00 am">


<label for="classday">Day</label>
<input type="text" id="classday" name="classday" size="45"><br><br>

<label for="contact">Contact (social media)</label>
<input type="text" id="contact" name="contact" size="45">

<select id="items">
  <option value="item-1">Social Media</option>
  <option value="item-2">Facebook</option>
  <option value="item-3">Instagram</option>
  <option value="item-4">Snapchat</option>
  <option value="item-5">Discord</option>
  <option value="item-6">Other please specify</option>

</select>


<button type="button" class="btn btn-success">submit :()-\-[</button>



</center>
{% endblock %}