
{% extends "baseTemplate.html" %}
<link rel="stylesheet" href="style.css">`


<head>
    <title>Login</title>
</head>

<style>
body {
  background-color: #36393E;
}

</style>

{% block content%}
<br><br><br>

<body>
<label style = "position:relative; left:600px; top:250px;" for="email">Email </label>
<input style = "position:relative; left:600px; top:250px;" type="text" id="email" name="email" size="45" placeholder="@qut.edu.au" required>

<label style = "position:relative; left:190px; top:300px;" for="pwd">Password</label>
<input style = "position:relative; left:190px; top:300px;" type="password" id="pwd" name="pwd" size="41" required>

<button style = "position:relative; left:120px; top:350px;" type="button" class="btn btn-primary">Login</button>


</body>
{% endblock %}
<!--
-->
